<h4 class="font-weight-bold spanborder"><span>Featured</span></h4>
<ol class="list-featured">
  {% assign featured_english_posts = site.posts | where: "language", "en" | where: "tags", "featured" | limit: 5 %}
  {% for post in featured_english_posts %}
    <li>
      <span>
        <h6 class="font-weight-bold"><a href="{{ site.baseurl }}{{ post.url }}" class="text-dark">{{ post.title }}</a></h6>
        <p class="text-muted">{{ post.date | date: '%b %d, %Y' }}</p>
      </span>
    </li>
  {% endfor %}
</ol>
